body {
    background-color:plum;
}

img {
    border: 5px solid yellow;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

img:hover {
    opacity: 0.6;
}

