body {
    background-color:plum;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20pt;
    color: yellow;
    text-align: center;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: lighter;
    color: yellow;
    text-align: center;
    position: relative; bottom: 30px;
}

img {
    border: 5px solid yellow;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.akaii1:hover { opacity: 0.8;}


.writing:hover { opacity: 1;}

button {
margin: 0;
  position:relative;
  left: 644px;
display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: yellow;
  background-color: rgb(87, 179, 228);
  border: 3px solid yellow;
  text-align: center;
  padding: 10px 20px;

}

button:hover {
    opacity: 0.7;
}

@media only screen and (min-width: 768px) {
img {
    width: 30%;
    border: 5px solid yellow;
}

}



